body {
  background: linear-gradient(
    68.2deg,
    rgb(7, 3, 98) -0.1%,
    rgb(179, 26, 132) 47.7%,
    rgb(239, 186, 83) 100.2%
  );
}

a {
  color: #9670f4;
}

.App {
  max-width: 960px;
  margin: auto;
  margin-bottom: 0px;
}

.App-header {
  margin-bottom: 0px;
}

.App-logo {
  max-width: 1000px;
  display: block;
  margin: 0 auto;
  margin-bottom: -125px;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}
