body {
  background: linear-gradient(
    108.5deg,
    rgb(30, 59, 94) 4%,
    rgb(253, 29, 62) 49.3%,
    rgb(255, 224, 94) 96%
  );
}

a {
  color: #9670f4;
  font-weight: bold;
}

.App {
  max-width: 960px;
  margin: auto;
  margin-bottom: 0px;
}

.App-header {
  margin-bottom: 0px;
}

.App-logo {
  max-width: 1000px;
  display: block;
  margin: 0 auto;
  margin-bottom: -125px;
}

.App-footer {
  color: white;
  text-align: center;
  margin: 30px 0;
}
