body {
  background: linear-gradient(
    180deg,
    rgb(242, 254, 249) 0%,
    rgb(201, 244, 222) 100%
  );
}

a {
  color: #9670f4;
  font-weight: bold;
}

.App {
  max-width: 960px;
  margin: auto;
  margin-bottom: 0px;
}

.App-header {
  margin-bottom: 0px;
}

.App-logo {
  max-width: 1000px;
  display: block;
  margin: 0 auto;
  margin-bottom: -125px;
}

.App-footer {
  color: white;
  text-align: center;
  margin: 30px 0;
}
